<h1>Editing banner_item</h1>

<%= render 'form', banner_item: @banner_item %>

<%= link_to 'Show', banner_banner_item_path(@banner, @banner_item) %> |
<%= link_to 'Back', banner_banner_items_path(@banner) %>
